<a href="https://colab.research.google.com/github/sundonam/Kaggle/blob/main/Untitled42.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/train_service.csv')
df.head()

                                                 uno  ... agegroup
0  b3d6846338d0e98b7e0fcf735c49271ff59df86bfd78f3...  ...       45
1  4ec765db76545c1d6dda9f421590bf9d02f584009f8d92...  ...       25
2  304cacae950e53952afebff0b212f5bfef6a5a0abb4c45...  ...       35
3  4f86d917c53cb6bd8949f76dba7260311e8c1748748a02...  ...       55
4  445fb8813626d3d49b94b5be58cd76d80ed31fa94f8372...  ...       40

[5 rows x 14 columns]

In [ ]:
df2 = df.groupby(['uno', 'productcode'])['registerdate'].count()

In [ ]:
df2.sort_values()

uno                                                                                                                               productcode
0000555c21e7942b8281c8068c2b5be0a628b8a1a3cbea1c4d42a1ebb82206c2d0cf7ba1b15f367ffc97b7cf749ae6b0b3c46732f9fc0f5186ab6aa3e8346fdd  pk_1488        1
aaafaf73b048e4dac21a61b72e767b42b3582808ee59a0a4c97ac265a557dac0c64154eefb6b11800f60c6cc92da2916af37cd7ec96868d65fdf817cd93e7b78  pk_1487        1
aab047a570306107661f531f2b151d1d0c9a82cc0b173133499822d5ca74da518091607663bd4f9915076f614e07ac6d9ac474b11a71d4d05de0bffb0f2b2e0d  pk_1487        1
aab1204d7cc18e35e3546022da1649f730afd8a023e8a4978cc2b471a1df30052c9c4829f4b5d229a5325d8b350292d8da8a269ce4f44bfef363443f483d448a  pk_1487        1
aab231aa13deea7e7b83fb7ead78b374df5e39562d9778363939485c99665fcefd63904496d64aff199a843d2d642c274cbd93689ac6db1147c99ea9abc5aa73  pk_1489        1
                                                                                                                                                ..
21ec741899ff999740dcfa0543bfb3a41360c34e981ede69a7cc84ae61c491efbda82bc9c232520b8492c028cf7832bdd689110fb810d429b475fb08bec704aa  pk_1508        2
b31c10e7354a7eb3b6316780993a1eaf6c4da9023af8462e9583cdc25dffea5aac33f0c47832c6095cff6515748df4b0502d4c048db479b72391d5f64b3b77ba  pk_1488        2
6513fff57e32407ab087206e57186ee4cbde4888a5f79702f9caee7d23d008d30360c95fe000694668cd0c5fd557fb0e1a6d4473abbb18652a717ebf2d5c471e  pk_1488        3
a02a14ff1ab86edbfe46ad5a6a7fce054dc83c39aa7c362622171c550dcfe7099733a95d986e379eedfcb8edb5adc79c3f2439a56104f63410b83a10131c8ea5  pk_1487        3
                                                                                                                                  pk_1488        4
Name: registerdate, Length: 69691, dtype: int64

In [ ]:
df2.loc[df2.values > 1]

uno                                                                                                                               productcode
04808008569b118d26fbec8e15915835a2a22dce22a05ca080f00f052f5474e0d37bf55650a8f30193a93ee5ff955b169fcfdacf0c0c1cd7b336c8e0db55151d  pk_1487        2
21ec741899ff999740dcfa0543bfb3a41360c34e981ede69a7cc84ae61c491efbda82bc9c232520b8492c028cf7832bdd689110fb810d429b475fb08bec704aa  pk_1508        2
51f0da418083182aecd6c8cc756185dbd3abaad11f242eadc01b5a5735806bf6d2e609d613c051ec30ae44c7ce54d87a5b50d24bbc922c38aa8a5bca70955ff2  pk_1487        2
6513fff57e32407ab087206e57186ee4cbde4888a5f79702f9caee7d23d008d30360c95fe000694668cd0c5fd557fb0e1a6d4473abbb18652a717ebf2d5c471e  pk_1487        2
                                                                                                                                  pk_1488        3
6fad692b1b2d483fc2a0540dd4f6a69c8c2ce3554c51c5218a310e4505fe48ed9bf78a1383d1962cd7e1e5206e9e70e97045d406ab674af3577b203bb7e15b87  pk_1508        2
7139c48d0999fc13e4b7497183832233041ab4fe78e49aa2d6fdbbb478658f920024e21fdae4577483d6c9afbba6f38ddb6e611a6776c6e44be73736546564be  pk_1489        2
7ef5edee97e9561ebce1380fde2caf33a29e4e095ba693fdcf03985edda8ecf7b8c272f6139a09231d29d0b8f05a45ab922c064a219acf3cad57bb345b666cdd  pk_2025        2
9f0e82544e63feb3fbd0eeb81c749932f9aa0be13d5082805cae93dadda5277be3bc4bbdc8af145edab5d890b53b4768e15d2358d58dfb76bb509ad430f732a2  pk_1506        2
a0218892bc0315bc5a83ac264ab5efd8b90e1ad51b84ea8831c07bdee26f98deca7a33e5a3f56218df401f2763754e1ede70abac7e3dc74b49244a80854017dd  pk_1489        2
a02a14ff1ab86edbfe46ad5a6a7fce054dc83c39aa7c362622171c550dcfe7099733a95d986e379eedfcb8edb5adc79c3f2439a56104f63410b83a10131c8ea5  pk_1487        3
                                                                                                                                  pk_1488        4
b31c10e7354a7eb3b6316780993a1eaf6c4da9023af8462e9583cdc25dffea5aac33f0c47832c6095cff6515748df4b0502d4c048db479b72391d5f64b3b77ba  pk_1488        2
Name: registerdate, dtype: int64